body {
  margin: 0;
  background: #071a2d; /* bleu nuit */
  color: white;
}

/* Titre de la galerie */
.gallery-title {
  text-align: center;
  margin: 25px 0 20px;
  font-size: 28px;
}

/* Galerie */
.gallery {
  width: 1100px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

/* Carte photo */
.photo-card {
  width: 100%;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

/* Images */
.photo-card img {
  width: 100%;
  height: 230px; /* images un peu moins longues */
  object-fit: cover;
  display: block;
}

/* Nom des images */
.photo-card p {
  display: block;
  text-align: center;
  margin: 0;
  padding: 6px 3px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  color: black;
  background: white;
}